<head>
  <link rel="stylesheet" href="../../css/styles-layout.css">
  <link rel="stylesheet" href="../../css/client/movie/list.css">
</head>
<main class="container mt-5 mb-5">
  <h1 class="text-center mb-4">Không Tìm thấy phim</h1>
  <div class="row">
    <div class="col-12 text-center">
      <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
    </div>
</main>